# Dependencies
node_modules/

# Next.js
.next/

# Environment
.env
.env.local

# Database
*.db
*.db-journal

# Uploads
uploads/models/*
uploads/previews/*
!uploads/models/.gitkeep
!uploads/previews/.gitkeep

# Logs
*.log
*.err
*url*.txt

# OS
.DS_Store
Thumbs.db

.vercel
